@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --special: #0A3161;
    /* --bgc: #B31942; */
    --bgc: rgb(224, 224, 224);
    --textDark: black;
    --textLight: white;
    --danger: red;

    --special-foreground: #0a3161c1;
  }

  :root {
    --background: 344 0% 95%;
    --foreground: 344 0% 0%;
    --card: 344 0% 90%;
    --card-foreground: 344 0% 10%;
    --popover: 344 0% 95%;
    --popover-foreground: 344 95% 0%;
    --primary: 344 75.5% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 306 10% 85%;
    --muted-foreground: 344 0% 35%;
    --accent: 306 10% 80%;
    --accent-foreground: 344 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 344 0% 90%;
    --border: 344 20% 50%;
    --input: 344 20% 18%;
    --ring: 344 75.5% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 344 10% 5%;
    --foreground: 344 0% 90%;
    --card: 344 0% 0%;
    --card-foreground: 344 0% 90%;
    --popover: 344 10% 5%;
    --popover-foreground: 344 0% 90%;
    --primary: 344 75.5% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 306 10% 15%;
    --muted-foreground: 344 0% 60%;
    --accent: 306 10% 15%;
    --accent-foreground: 344 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 344 0% 90%;
    --border: 344 20% 18%;
    --input: 344 20% 18%;
    --ring: 344 75.5% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--textDark);
  /* overflow-x: hidden; */
}

/* Code for Firefox */
::-moz-selection {
  color: var(--success);
  background: #ff0000;
}

::selection {
  color: var(--success);
  background: #ff0000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: calc(3.25rem * 0.75);
  }

  h2 {
    font-size: calc(2.5rem * 0.75);
  }

  h3 {
    font-size: calc(2.074rem * 0.75);
  }

  h4 {
    font-size: calc(1.728rem * 0.75);
  }

  h5 {
    font-size: calc(1.44rem * 0.75);
  }

  h6 {
    font-size: calc(1.2rem * 0.75);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textDark);
  line-height: 1.25;
  font-weight: 700;
  text-wrap: pretty;
}

p,
div {
  font-size: 1rem;
  color: var(--textDark);
}

p.small {
  font-size: 0.833rem;
  color: var(--textDark);
}

div,
span,
p {
  line-height: 1.6;
  font-weight: 500;
  text-wrap: pretty;
}

.text-special {
  color: var(--special);
}

.bg_awesome {
  position: relative;
  overflow: hidden;
  background: linear-gradient(-45deg,
      var(--primary),
      var(--secondary),
      var(--primary),
      var(--secondary));
  background-size: 400% 400%;
  animation: bg__gradient 20s ease infinite;
  height: 100vh;
}

@keyframes bg__gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.boxshadow {
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.animate {
  transition: all .2s ease-in;
}

.textTheme {
  @apply text-textDark hover:text-textLight;
}

.FRNZ_Hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.Hamburger_lazy span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.Hamburger_lazy span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.Hamburger_lazy span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.Hamburger_lazy span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.Hamburger_lazy.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.Hamburger_lazy.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.Hamburger_lazy.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}